<!DOCTYPE html>
<html>
  <head>
    <title>Piggybank</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <div class='d-flex'>
	<%= image_tag 'piggybank', class: 'img-rounded', size: '200x150' %>
	<h1 class='company-name'><%= t('currencies.welcome') %></h1>
      </div>
      <br />

      <% flash.each do |type, msg| %>
        <% alert_class = type == 'notice' ? 'alert-success' : 'alert-danger' %> 
      
        <div class="alert <%= alert_class %>" role='alert'>
	  <%= msg %>
	</div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
